.Title {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  color: #112d4e;
}
.Logo{
  width:40px;
}

.Hotlinks {
  display: flex;
  align-items: center;
}

.Hotlinks h4 {
  margin: 0 10px;
  color: #3f72af;
  font-family: "Josefin Sans", sans-serif;
}

.Header {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}


.IntroSpace {
  height:50vh;
  display: flex;
  align-items: center;
}

.IntroText {
  margin-left: 10%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: large;
  display: flex;
  flex-direction: column;
}

.IntroText img {
  width:40px;
}

.IntroText h2 {
  margin: 5px 0;
}

.IntroText p {
  margin: 5px 0;
}